/* GENERAL */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* NAVBAR */
header {
    background-color: #f1f1f1;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

nav {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav a:hover {
    color: #007bff;
}

nav li {
    margin: 0 15px;
    text-align: center;
}

/* HERO */
.hero {
    color: white;
    text-align: center;
    padding: 100px 20px;
}

.hero p {
    max-width: 600px;
    margin: 0 auto;
}
.profile {
    width: 120px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.hero h2 {
    color: #333;
    font-size: 2em;
    margin-bottom: 10px;
}

.hero p {
    color: #333;
    font-size: 1.2em;
    margin-bottom: 20px;
}

/* SECTIONS */
section {
    padding: 60px 20px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

/* CARDS */
.card {
    margin: 20px auto;
    padding: 20px;
    width: 70%;
}

/* LINKS */

.experience {
    padding: 40px;
    text-align: center;
}

.card{
 background: white;
    margin: 20px auto;
    padding: 20px;
    width: 70%;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.card h3 {
    margin-top: 0;
}

#experience li {
    list-style: none;
}

/* FOOTER */
footer {
    margin-top: 100px;
    padding: 20px;
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
}

footer p {
    flex: 1;
    text-align: center;
    margin: 0;
}

.social {
    margin-left: auto;
    margin-top: 0;
}

.social a {
    margin: 0 10px;
    text-decoration: none;
    font-size: 18px;
}
